:root {
	--accentColor:#000;
	--accentTextColor:#fff;
  --messageColor:#f1f1f1;
	--messageTextColor:#000;
  --backgroundColor:#fff;
}

.App {
  text-align: center;
  background-color: var(--accentColor);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/******************** Containers ********************/
.react-chatbot-kit-chat-container {
  width: 100vw;
  height: 100vh;
}
.react-chatbot-kit-chat-inner-container{
  height: 100%;
  width:100%;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
	width: 14px;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 4px solid transparent;
	border-radius: 7px;
	box-shadow: inset 0 0 0 10px;
  background-color: var(--accentColor);
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar-corner {
	background-color: transparent;
}
.react-chatbot-kit-chat-message-container {
  padding: 0px 10px 100px 10px;
  background-color: var(--backgroundColor);
	overflow: auto;
  width:calc(100vw-20px);
  height:calc(100% - 80px);
}

/******************** Header ********************/
.react-chatbot-kit-chat-header {
  font-size: 1em;
  justify-content: center;
  background-color: var(--accentColor);
  color: var(--accentTextColor);
  height: 20px;
}
.react-chatbot-kit-chat-header #chatbot-loader #chatbot-loader-dot1,#chatbot-loader-dot2,#chatbot-loader-dot3 {
  stroke: #aaa;
  fill: #aaa;
}

/******************** Avatar ********************/
.custom-bot-avator{
  width: 40px !important;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: var(--accentColor);
  color: var(--accentTextColor);
}
.react-chatbot-kit-user-avatar-container{
  background-color: var(--accentColor);
}

/******************** Message ********************/
.react-chatbot-kit-user-chat-message {
  background-color: var(--messageColor);
  color: var(--messageTextColor);
  box-shadow: -1px 2px var(--accentColor);
}
.react-chatbot-kit-chat-bot-message {
  width: auto;
  max-width: calc(100% - 80px);
  margin-left: 12px;
  background-color: var(--messageColor);
  color: var(--messageTextColor);
  box-shadow: 1px 2px var(--accentColor);
}
.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid var(--messageColor);
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid var(--messageColor);
}

/******************** Input ********************/
.react-chatbot-kit-chat-input-container {
  height: 50px;
  bottom:20px;
  display:flex;
  justify-content: center;
}
.react-chatbot-kit-chat-input-form {
  width:95%;
}
.react-chatbot-kit-chat-btn-send {
  background-color: var(--accentColor);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.react-chatbot-kit-chat-btn-send-icon {
  fill: var(--accentTextColor);
  width:25%;
}
.react-chatbot-kit-chat-input{
  background-color: var(--messageColor);
  color: var(--messageTextColor);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid #d8d8d8;
}
.react-chatbot-kit-chat-input:focus{
  outline: none;
}
/******************** Banner ********************/
.banner {
  background-color: transparent;
  color: var(--accentColor);
  height: 20px;
  bottom:0;
  position: absolute;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.banner strong{
  margin: 0px 3px;
}

/**
* ==============================================
* Dot Floating
* ==============================================
*/

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  overflow: hidden;
}

.filter-contrast {
  filter: contrast(5);
  background-color: white;
}

.dot-floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accentTextColor);
  color: var(--accentTextColor);
  animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}
.dot-floating::before, .dot-floating::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-floating::before {
  left: -12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accentTextColor);
  color: var(--accentTextColor);
  animation: dot-floating-before 3s infinite ease-in-out;
}
.dot-floating::after {
  left: -24px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--accentTextColor);
  color: var(--accentTextColor);
  animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}
@keyframes dot-floating-before {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@keyframes dot-floating-after {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

/*==============================================*/

#loader{
  display:none;
}