html, body {
  height: 100%; /* Set height to 100% to fill the iframe vertically */
  margin: 0; /* Remove default margin to fill the iframe horizontally */
  overflow: hidden; /* Hide any overflow to prevent scrolling inside the iframe */
}

#root {
  height: 100%; /* Set height to 100% to fill the iframe */
}
