{% extends "base.html" %}

{% block content %}

<div id="top">

  <header>
    <h1><a href="/" class="icon_logo">Elephant<span>.ai</span></a></h1>
    <a href="#mainMenu" class="openMainMenu" hidden></a>
    <nav id="mainMenu">
      <a href="#" class="modalClose" hidden></a>
      <ul>
        <li hidden><a href="#" class="modalClose">Exit Menu</a></li>
        <li><a href="#testimonials">Details</a></li>
        <li><a href="#pricing">Subscribe</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="alternate featured"><a href="/user/signout">Sign Out</a></li>
        <li class="alternate username">{{user.name}}</li>
      </ul>
    </nav>
  </header>

  <main>

    <section id="testimonials">
      <header id="accountDetails">
        <h2>Account Details</h2><br>
        <p>Name : <code>{{user['name']}}</code></p><br>
        <p>Email : <code>{{user['email']}}</code></p><br>
        <p>Subscription : <code>{{user['plan']}}</code></p><br>
      </header>
    <!-- #testimonials --></section>

    <section>
      <h3>Reset Password</h3>
      <form class="onPageForm"  name="password_reset_form">
        <p class="error error--hidden center_error"></p>
        <fieldset>
        <input type="hidden" name="csrf_token" value={{csrf_token}}>
        <label class="short">
          New Password<br>
          <input name="password" type="password" required minlength="8"><br>
        </label>
        </fieldset>
        <footer>
          <button type="submit">Reset</button>
        </footer>
      </form>
    </section>
    <br>

    <div>
      <section id="pricing">

        <header>
          <h2><span>Simple pricing,</span> for everyone</h2>
          <p>
            It doesn't matter what size your business is, our software works well for you.
          </p>
          <p id="subscribe_error" class="error error--hidden"></p>
        </header>
        

        {% for plan,detail in plan_details.items() %}
          <article class="{% if user['plan']==plan %} featured {% endif %}">
            <h3><span>{{plan}}</span>${{ "{:,.0f}".format(detail.price) }}<small> /month</small></h3>
            <p>
              Good for anyone who is self-employed and just getting started.
            </p>
            {% if user['plan'] == plan %}
              <button type="submit" class="action stripe-cancel-btn" 
                {% if user.stripe_subscription_id is none %} disabled {% endif %}>
                <i>{% if user.stripe_subscription_id is none %} &#10004; {% else %} Cancel {% endif %}</i>
              </button>
            {% else %}
              <button type="submit" class="action stripe-subscribe-btn" data-plan="{{plan}}"><i>Subscribe</i></button>
            {% endif %}
            <ul>
              <li>Create {{ "{:,.0f}".format(detail.bots) }} Chatbots</li>
              <li>{{ "{:,.0f}".format(detail.sources) }} Source URLs per Chatbot</li>
              <li>{{ "{:,.0f}".format(detail.messages // 1000) }}K Monthly Queries</li>
            </ul>
          </article>
        {% endfor %}

      <!-- #pricing --></section>
    </div>


  </main>

  <footer>
    <h2 class="icon_logo">Elephant<span>.ai</span></h2>
    <ul class="onPageLinks">
        <li><a href="#testimonials">Details</a></li>
        <li><a href="#pricing">Subscribe</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <p>
      &copy; 2023 Elephant.ai All rights reserved.
    </p>
    <ul class="socialLinks">
      <li>
        <a href="#" class="icon_twitter">
          <span>Twitter</span>
        </a>
      </li><li>
        <a href="#" class="icon_github">
          <span>Github</span>
        </a>
      </li>
    </ul>
  </footer>

</div>

<script src="/static/js/stripe.js"></script>

{% endblock %}