{% extends "base.html" %}

{% block content %}

<div id="top">

  <header>
    <h1><a href="/" class="icon_logo"><i>{{ user['name'] }}</i></a></h1>
    <a href="#mainMenu" class="openMainMenu" hidden></a>
    <nav id="mainMenu">
      <a href="#" class="modalClose" hidden></a>
      <ul>
        <li hidden><a href="#" class="modalClose">Exit Menu</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="alternate featured"><a href="/user/signout">Sign Out</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <section id="everydayTasks">

      <header>
        <h2>{{bot['name']}}</h2>
      </header>

      <input hidden id="radio_2_chatbot" name="imgRadioTasks" type="radio">
      <input hidden id="radio_2_settings" name="imgRadioTasks" type="radio">
      <input hidden id="radio_2_sources" name="imgRadioTasks" type="radio" checked>
      <input hidden id="radio_2_embed" name="imgRadioTasks" type="radio">
      <input hidden id="radio_2_delete" name="imgRadioTasks" type="radio">

      <div class="slider">
        <article class="slider-item">
          <heading>
            <h3>Chatbot</h3>
          </heading>
          <label for="radio_2_chatbot"></label>
        </article>
        <article class="slider-item">
          <heading>
            <h3>Settings</h3>
          </heading>
          <label for="radio_2_settings"></label>
        </article>
        <article class="slider-item">
          <heading>
            <h3>Data Sources</h3>
          </heading>
          <label for="radio_2_sources"></label>
        </article>
        <article class="slider-item">
          <heading>
            <h3>Embed on Website</h3>
          </heading>
          <label for="radio_2_embed"></label>
        </article>
        <article  class="slider-item">
          <heading>
            <h3>Delete Chatbot</h3>
          </heading>
          <label for="radio_2_delete"></label>
        </article>
      </div>

      <aside>
        <div>
          <section class="iframe-container">
            <iframe id="chatbot_widget" src="/bot?id={{bot['_id']}}"></iframe>
          </section>
        </div>

        <div class="tab">
          <section>
            <h3>Chatbot Settings</h3>
            <form class="onPageForm"  name="bot_config_form" data-id="{{bot['_id']}}">
              <p class="error error--hidden"></p>
              <fieldset>
                <input type="hidden" name="csrf_token" value={{csrf_token}}>
                <label>Header Text: </label>
                <input type="text" name="header_text" value="{{bot.config.header_text}}"/>
                <label>Initial Messages (New Line separated):</label>
                <textarea name="initial_messages" rows="3">{% for msg in bot.config.initial_messages %}{{msg}}{% if loop.index0 < bot.config.initial_messages|length - 1 %}&#13;&#10;{% endif %}{% endfor %}</textarea>
                <label>Base Prompt (Passed to GPT Model):</label>
                <textarea class="wider-textarea" name="base_prompt" rows="4">{{bot.config.base_prompt}}</textarea>
                <label>Accent Color: 
                  <input type="color" name="accent_color" width="100px" height="100px" value="{{bot.config.accent_color}}"/>
                </label>
              </fieldset>
              <footer>
                <button type="submit">Update</button>
              </footer>
            </form>
          </section>

        </div>

        <div class="tab">
          <section class="source_container">
            <h3>Source URLs ({{bot.sources|length}})</h3>
            <span class="pagination-row">
              <span>
                <label>URLs per page: </label>
                <select id="pagination-dropdown">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </span>        
              <span id="pagination">
                <!-- Pagination will be generated by JavaScript -->
              </span>
            </span>
            <table id="url-table" class="source_table">
              <!-- Table content will be generated by JavaScript -->
            </table>
            <p id="source_select_err" class="error error--hidden"></p>
            <span class="button-row">
              <button id="delete-btn"><span id="submit_drop">Drop</span> <span id="loader_drop" class="loader loader--hidden"></span></button>
            </span>
          </section>
          <br>
    
          <section class="onPageForm-container">
            <h3>Enter New URLs (New Line Separated)</h3>
            <form class="onPageForm"  name="bot_source_form" data-id="{{bot['_id']}}">
              <p id="bot_add_err" class="error error--hidden center_error"></p>
              <fieldset>
              <input type="hidden" name="csrf_token" value={{csrf_token}}>
              <textarea name="urls" rows="2" width="60%" resize="vertical"></textarea>
              </fieldset>
              <footer>
                <button type="submit"><span id="submit_add">Add</span> <span id="loader_add" class="loader loader--hidden"></span></button>
              </footer>
            </form>
          </section>
          <br>
          
          <section class="onPageForm-container">
            <h3>Enter Sitemap</h3>
            <form class="onPageForm"  name="bot_sitemap_form" data-id="{{bot['_id']}}">
              <p id="bot_add_err" class="error error--hidden"></p>
              <fieldset>
              <input type="hidden" name="csrf_token" value={{csrf_token}}>
              <input type="url" name="url" required>
              </fieldset>
              <footer>
                <button type="submit"><span id="submit_sitemap">Submit</span> <span id="loader_sitemap" class="loader loader--hidden"></span></button>
              </footer>
            </form>
          </section>
          <br>
          
        </div>

        <div class="tab">
          <p>To add the chatbot any where on your website, add this iframe to your html code.</p>
          <p id="iframe-box" class="tooltip">
            <code id="iframe-val">{{bot['iframe']}}</code>
            <span id="iframe-tooltip-text" class="tooltiptext">Click to copy</span>
          </p>
          <p>To add a chat bubble to the bottom right of your website add this script tag to your html.</p><br>
          <p id="script-box" class="tooltip">
            <code id="script-val">{{bot['script']}}</code>
            <span id="script-tooltip-text" class="tooltiptext">Click to copy</span>
          </p>
          
        </div>

        <div class="tab">
          <p>This is an irreversible action.<br>Confirm Deletion of Bot : <strong>{{bot['name']}}</strong></p><br>
          <button id="bot_delete_btn" data-id="{{bot['_id']}}">Delete</button>
          <p id ="bot_delete_err" class="error error--hidden"></p>
        </div>
      </aside>

    <!-- #everydayTasks --></section>

  </main>

  <footer>
    <h2 class="icon_logo">GPT<span>Chatbot</span></h2>
    <ul class="onPageLinks">
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <p>
      &copy; 2023 GPTChatbot. All rights reserved.
    </p>
    <ul class="socialLinks">
      <li>
        <a href="#" class="icon_twitter">
          <span>Twitter</span>
        </a>
      </li><li>
        <a href="#" class="icon_github">
          <span>Github</span>
        </a>
      </li>
    </ul>
  </footer>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlTable = document.getElementById("url-table");
    const deleteBtn = document.getElementById("delete-btn");
    const pagination = document.getElementById("pagination");
    const dropdown = document.getElementById("pagination-dropdown");
    const urlList = generateUrls();
    let urlsPerPage = 10;
    let currentPage = 1;
    let selectedUrls = new Set();

    displayUrls();
    displayPagination();

    // Generate URLs
    function generateUrls() {
      const urls = JSON.parse(`{{bot.sources|tojson}}`);
      return urls;
    }

    // Display URLs with pagination
    function displayUrls() {
      const startIndex = (currentPage - 1) * urlsPerPage;
      const endIndex = startIndex + urlsPerPage;
      console.log(startIndex, endIndex);
      const urlsToDisplay = urlList.slice(startIndex, endIndex);

      let tableContent = `<tr> <th id="select-all-label">Select All</th> <th><input type="checkbox" id="select-all"></th> </tr>`;

      urlsToDisplay.forEach((url,i) => {
        const isSelected = selectedUrls.has(i);
        tableContent += `
    <tr class="source_link_row">
      <td class="source_link_text">${url}</td>
      <td><input type="checkbox" class="url-checkbox source_action" data-index="${i}" ${
          isSelected ? "checked" : ""
        }></td>
    </tr>
  `;
      });
      urlTable.innerHTML = tableContent;
      addCheckboxListeners();
    }

    // Display pagination
    function displayPagination() {
      const pageCount = Math.ceil(urlList.length / urlsPerPage);
      let paginationContent = "";

      for (let i = 1; i <= pageCount; i++) {
        paginationContent += `<button class="pagination-btn${
          i === currentPage ? " current-page" : ""
        }" data-page="${i}">${i}</button>`;
      }

      pagination.innerHTML = paginationContent;
      addPaginationListeners();
    }

    // Checkbox event listeners
    function addCheckboxListeners() {
      const selectAllCheckbox = document.getElementById("select-all");
      const urlCheckboxes = document.querySelectorAll(".url-checkbox");

      selectAllCheckbox.addEventListener("change", function () {
        const isChecked = this.checked;
        urlCheckboxes.forEach((checkbox) => {
          const url = checkbox.getAttribute("data-index");
          checkbox.checked = isChecked;
          if (isChecked) {
            selectedUrls.add(url);
          } else {
            selectedUrls.delete(url);
          }
        });
      });

      urlCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
          const url = this.getAttribute("data-index");
          if (this.checked) {
            selectedUrls.add(url);
          } else {
            selectedUrls.delete(url);
          }
          selectAllCheckbox.checked = selectedUrls.size === urlList.length;
        });
      });
    }

    // Pagination event listeners
    function addPaginationListeners() {
      const paginationBtns = document.querySelectorAll(".pagination-btn");

      paginationBtns.forEach((btn) => {
        btn.addEventListener("click", function () {
          currentPage = parseInt(this.getAttribute("data-page"));
          displayUrls();
          displayPagination();
        });
      });
      dropdown.addEventListener("change", function(event) {
        urlsPerPage = parseInt(event.target.value);
        currentPage = 1;
        displayUrls();
        displayPagination();
      });
    }


    deleteBtn.addEventListener("click", function () {
      const csrf = "{{csrf_token}}"
      const data = { indexes: [...selectedUrls] }
      const $error = document.getElementById("source_select_err");
      $.ajax({
          type: 'post',
          url: '/editbot/sources/drop?id={{bot._id}}',
          headers:{
            "X-CSRF-TOKEN":csrf
          },
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          traditional: true,
          success: function(data) {
            // Redirect to a new page on successful API call
            document.location.reload();
          },
          error: function(resp) {
            $error.text(resp.responseJSON.error).removeClass("error--hidden");
          },
          beforeSend: function () {
            $("#submit_drop").addClass('loader--hidden');
            $('#loader_drop').removeClass('loader--hidden');
          },
          complete: function (response) {
            $('#loader_drop').addClass('loader--hidden');
            $('#submit_drop').removeClass('loader--hidden');
          }
      });
    });

  });
</script>


{% endblock %}