{% extends "base.html" %}

{% block content %}

<div id="top">

  <header>
    <h1><a href="/" class="icon_logo">Elephant<span>.ai</span></a></h1>
    <a href="#mainMenu" class="openMainMenu" hidden></a>
    <nav id="mainMenu">
      <a href="#" class="modalClose" hidden></a>
      <ul>
        <li hidden><a href="#" class="modalClose">Exit Menu</a></li>
        <li><a href="#testimonials">My Chatbots</a></li>
        <li><a href="#getStarted">New Chatbot</a></li>
        <li><a href="/account">My Account</a></li>
        <li class="alternate featured"><a href="/user/signout">Sign Out</a></li>
        <li class="alternate username">{{user.name}}</li>
      </ul>
    </nav>
  </header>

  <main>


    <section id="testimonials">

      <header>
        <h2>My Chatbots</h2>
      </header>

      <div class="bot-box">
      {% for bot in bots %}
      <div class="bot-card">
        <a href="/chatbot?id={{bot['_id']}}" class="bot-card-link">
          <div class="bot-card-bg"></div>
  
          <div class="bot-card-title">
            {{ bot['name'] }}
          </div>
  
          <div class="bot-card-date-box">
            <span class="bot-card-date">
              {{ bot['domain_name'] }}
            </span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <!-- #testimonials --></section>

    <div>
      <section id="getStarted" class="headerless">
        <h2>Create New Bot</h2>
        
        <form id="register" class="onPageForm" name="newbot_form">
          <div>
            <p class="error error--hidden"></p>
        
            <fieldset>
              <input type="hidden" name="csrf_token" value={{csrf_token}}>

              <label class="short">
                Chatbot Name<br>
                <input name="name" type="text" required><br>
              </label><label>
                URL for Sitemap File <code><small>(.xml)</small></code><br>
                <input name="url" type="url" required><br>
              </label><label>
                Domain Name<br>
                <input name="domain" type="text" required><br>
              </label>
            </fieldset>
            
            <footer>
              <button><span id="submit">Submit</span> <span id="loader" class="loader loader--hidden"></span> </button> 
            </footer>
          </div>
        <!-- #register.modal --></form>
      <!-- #getStarted --></section>
    </div>

  </main>

  <footer>
    <h2 class="icon_logo">Elephant<span>.ai</span></h2>
    <ul class="onPageLinks">
      <li><a href="#testimonials">My Chatbots</a></li>
      <li><a href="#getStarted">New Chatbot</a></li>
      <li><a href="/account">My Account</a></li>
    </ul>
    <p>
      &copy; 2023 Elephant.ai All rights reserved.
    </p>
    <ul class="socialLinks">
      <li>
        <a href="#" class="icon_twitter">
          <span>Twitter</span>
        </a>
      </li><li>
        <a href="#" class="icon_github">
          <span>Github</span>
        </a>
      </li>
    </ul>
  </footer>

</div>

{% endblock %}