{% extends "base.html" %}

{% block content %}
  
<div id="top">

  <header>
    <h1><a href="/" class="icon_logo">Elephant<span>.ai</span></a></h1>
    <a href="#mainMenu" class="openMainMenu" hidden></a>
    <nav id="mainMenu">
      <a href="#" class="modalClose" hidden></a>
      <ul>
        <li hidden><a href="#" class="modalClose">Exit Menu</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#testimonials">Tesimonials</a></li>
        <li><a href="#pricing">Pricing</a></li>
        {% if is_signed_in %}
        <li class="alternate featured"><a href="/user/signout">Sign Out</a></li>
        <li class="alternate"><a href="/dashboard">Dashboard</a></li>
        {% else %}
        <li class="alternate featured"><a href="#register">Get Started</a></li>
        <li class="alternate"><a href="#signIn">Sign in</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main>

    <section class="banner">
      <h2>
        Memory of an <span>Elephant</span><br><span>Intelligence</span> of AI
      </h2>
      <p>
        Welcome to the Elephant.ai savannah, where your content is king, and your chatbot is the unforgettable memory of an elephant.
        <br>Elephant.ai is a custom ChatGPT chatbot that adapts to your website content like an elephant adapts to its environment... 
        <br>with immense power, wisdom, and grace.
      </p>
      <ul class="actions">
        <li class="featured"><a href="#register">Get Started</a></li>
      </ul>
    <!-- .banner --></section>

    <section id="companies">
      <h2>Companies That Trust the Elephant</h2>
      <ul>
        <li class="icon_transistor">Transistor</li>
        <li class="icon_tuple">Tuple</li>
        <li class="icon_staticKit">StaticKit</li>
        <li class="icon_mirage">Mirage</li>
        <li class="icon_laravel">Laravel</li>
        <li class="icon_statamic">Statamic</li>
      </ul>
    <!-- #companies --></section>

    <div>
      <section id="features">

        <header>
          <h2>Empower Your Website with Elephant.ai</h2>
          <p>
            Elephant.ai trains on your website's content, ensuring relevant and accurate responses to visitor questions. This results in more engaging interactions and better user experiences.
          </p>
        </header>

        <input hidden id="radio_1_Payroll" name="imgRadioFeatures" type="radio" checked>
        <input hidden id="radio_1_Expenses" name="imgRadioFeatures" type="radio">
        <input hidden id="radio_1_Vat" name="imgRadioFeatures" type="radio">
        <input hidden id="radio_1_Reporting" name="imgRadioFeatures" type="radio">

        <div>
          <article>
            <h3>Adaptive Learning</h3>
            <p>
              Like an elephant that never forgets, our chatbot grows wiser with every interaction, ensuring a smoother experience for your users.
            </p>
            <label for="radio_1_Payroll"></label>
          </article><article>
            <h3>Empathetic Tone</h3>
            <p>
              With the sensitivity of an elephant, Elephant.ai can understand and respond to your users' emotions, making them feel heard and valued.
            </p>
            <label for="radio_1_Expenses"></label>
          </article><article>
            <h3>Mammoth Customization</h3>
            <p>
              Just as each elephant has unique tusks, Elephant.ai can be tailored to fit your brand's voice and needs.
            </p>
            <label for="radio_1_Vat"></label>
          </article><article>
            <h3>Powerful Analytics</h3>
            <p>
              With the strength of an elephant, our analytics tools help you track your chatbot's performance and impact on your website.
            </p>
            <label for="radio_1_Reporting"></label>
          </article>
        </div>

        <aside>
          <img loading="lazy" src="/static/images/features/1.png" alt="Payroll">
          <img loading="lazy" src="/static/images/features/2.png" alt="Claim Expenses">
          <img loading="lazy" src="/static/images/features/3.png" alt="VAT Handling">
          <img loading="lazy" src="/static/images/features/4.png" alt="Reporting">
        </aside>

      <!-- #features --></section>
    </div>

    <section id="everydayTasks">

      <header>
        <h2>Unleash the Elephant's Power</h2>
        <p>
          Discover the immense power of Elephant.ai as it transforms your website into a thriving digital savannah. Experience a remarkable boost in user engagement, ad revenue, content discovery, and more, while leaving a lasting impression on your visitors. It's time to unlock the full potential of your website with Elephant.ai.
        </p>
      </header>

      <div>
        <article>
          <heading>
            <h3>Boost User Engagement</h3>
            <p>
              Elephant.ai keeps visitors engaged by answering their questions and offering personalized guidance, resulting in longer time spent on the website.
            </p>
          </heading>
        </article><article>
          <heading>
            <h3>Supercharge your Ad Revenue</h3>
            <p>
              As user engagement and time-on-page increase, the ad impressions and clicks also rise, leading to higher ad revenue for your website.
            </p>
          </heading>
        </article><article>
          <heading>
            <h3>Enhance Content Discovery</h3>
            <p>
              Elephant.ai can recommend related articles or content to visitors, keeping them engaged and increasing the likelihood of exploring more pages on your website.
            </p>
          </heading>
        </article>
        </div>
        <div>
        <article>
          <heading>
            <h3>Unlock Feedback Collection and Analysis</h3>
            <p>
              Gather visitor feedback, gain insights, and make data-driven decisions to enhance your content.
            </p>
          </heading>
        </article><article>
          <heading>
            <h3>Turbocharge Your SEO</h3>
            <p>
              With increased user engagement and content discovery, search engines recognize your site as valuable, improving your organic search rankings
            </p>
          </heading>
        </article><article>
          <heading>
            <h3>Revolutionize your Customer Support</h3>
            <p>
              Elephant.ai handles user queries, allowing your team to focus on more critical tasks and providing visitors with immediate assistance
            </p>
          </heading>
        </article>
      </div>
    <!-- #everydayTasks --></section>

    <div>
      <section id="getStarted" class="headerless">
        <h2>Ready to Join the Herd? Get Started Today!</h2>
        <p>
          Don't let your website be forgotten in the digital jungle. Give it the Elephant.ai touch and watch your online presence soar. Click here to start your free trial!
        </p>
        <ul class="actions">
          <li><a href="#register">Get Started</a></li>
        </ul>
      <!-- #getStarted --></section>
    </div>

    <section id="testimonials">

      <header>
        <h2>Hear It from the Herd</h2>
      </header>

      <blockquote>
        <p>
          "Elephant.ai has transformed our website into a lively, engaging platform. Our users love interacting with the chatbot, and we've seen a significant increase in conversions!"
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/sherylBerge.webp" alt="Sheryl Berge">
          John Doe<br>
          <span>CEO at Acme Corp</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "The customization options with Elephant.ai are endless. Our chatbot sounds like it was written by a witty, approachable human. It's a game changer for our online presence." 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/amyHahn.webp" alt="Amy Hahn">
          Jane Smith<br>
          <span>Marketing Director at GlobalTech</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "Elephant.ai has been a tremendous asset in increasing user engagement on our website. Visitors enjoy the personalized guidance and stay on the site longer, which has led to a noticeable boost in ad revenue. We couldn't be happier with the results!" 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/lelandKiehn.webp" alt="Leland Kiehn">
          Karen White<br>
          <span>Digital Marketing Manager at TravelWonders</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "Our website has seen a significant improvement in content discovery since integrating Elephant.ai. The chatbot's ability to recommend related articles keeps our visitors engaged and exploring more pages. It has also positively impacted our SEO rankings."
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/erinPowlowski.webp" alt="Erin Powlowski">
          Peter Thompson<br>
          <span>Web Development Lead at FoodiesParadise</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "Elephant.ai has streamlined our customer support process by handling user queries quickly and efficiently. Our team can now focus on more critical tasks, while visitors receive immediate assistance, resulting in higher customer satisfaction." 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/peterRenolds.webp" alt="Peter Renolds"><br>
          Benjamin Clark<br>
          <span>Head of Customer Success at ShopSmart</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "The integration of Elephant.ai into our website has led to a remarkable increase in user engagement, content discovery, and ad revenue. Our SEO rankings have also improved, making our site more visible and competitive in our industry. We're thrilled with the transformation Elephant.ai has brought to our online presence." 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/amyHahn.webp" alt="Amy Hahn"><br>
          Grace Williams<br>
          <span>CEO of EcoFriendly Solutions</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "I was amazed by the level of customization Elephant.ai offers. The chatbot genuinely reflects our brand's voice, and our visitors appreciate the personalized interactions. Our website has become more engaging and dynamic, which has helped us stand out in the crowded online publishing space."
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/erinPowlowski.webp" alt="Erin Powlowski">
          Tom Nguyen<br>
          <span>Digital Content Manager at HealthFirst</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "With Elephant.ai, we've seen our user engagement metrics soar. Our visitors feel more connected to our content, and the chatbot's ability to provide instant answers has been a significant contributor to our website's success. It's a must-have tool for any internet publisher." 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/peterRenolds.webp" alt="Peter Renolds"><br>
          Rebecca James<br>
          <span>Owner of FoodieDelights</span>
        </footer>
      </blockquote><blockquote>
        <p>
          "With Elephant.ai, our website visitors are always engaged and well-informed. The chatbot's seamless integration with our content has made it a valuable resource for users, leading to a significant uptick in customer satisfaction." 
        </p>
        <footer>
          <img loading="lazy" src="/static/images/testimonials/amyHahn.webp" alt="Amy Hahn"><br>
          Michael Johnson<br>
          <span>Founder and CEO of Green Earth Innovations</span>
        </footer>
      </blockquote>

    <!-- #testimonials --></section>

    <div>
      <section id="pricing">

        <header>
          <h2><span>Pricing Plans</span> Pick your Pachyderm</h2>
          <p id="subscribe_error" class="error error--hidden"></p>
        </header>
        

        {% for plan,detail in plan_details.items() %}
          <article class="{% if loop.index0 % 2 == 1 %} featured {% endif %}">
            <h3><span>{{plan}}</span>${{ "{:,.0f}".format(detail.price) }}<small> /month</small></h3>
            <a href="#register" class="action">Get Started</a>
            <ul>
              <li>Create {{ "{:,.0f}".format(detail.bots) }} Chatbots</li>
              <li>{{ "{:,.0f}".format(detail.sources) }} Source URLs per Chatbot</li>
              <li>{{ "{:,.0f}".format(detail.messages // 1000) }}K Monthly Queries</li>
            </ul>
          </article>
        {% endfor %}

      <!-- #pricing --></section>
    </div>

    <section id="faq">

      <header>
        <h2>Frequently Asked Questions</h2>
        <p>
          If you can't find what you're looking for, email our support team and we will get back to you.
        </p>
      </header>

      <article>
        <h3>What is Elephant.ai?</h3>
        <p>Elephant.ai is the savannah's best-kept secret! It's a custom ChatGPT chatbot that adapts to your website content, bringing the power, wisdom, and grace of an elephant to your online presence. Designed for internet publishers and content website owners, Elephant.ai ensures your site's visitors enjoy engaging, human-like conversations while exploring your content.</p>
      </article><article>
        <h3>Can I give my chatbot instructions?</h3>
        <p>Absolutely! Think of Elephant.ai as your loyal, obedient elephant, ready to follow your lead. You can provide instructions and guidelines to shape your chatbot's behavior, responses, and personality. With mammoth customization options, Elephant.ai will march to the beat of your brand's unique drum.</p>
      </article><article>
        <h3>Where is my data stored?</h3>
        <p>Rest assured, your data is safe and secure in the Elephant.ai sanctuary. We use state-of-the-art encryption and adhere to strict privacy policies to ensure your data is stored securely. Just like elephants, we take the safety of our herd very seriously.</p>
      </article><article>
        <h3>How to add the chatbot to my website?</h3>
        <p>Adding Elephant.ai to your website is as easy as hitching a ride on a friendly elephant! You can use our simple, step-by-step guide to integrating the chatbot with your website. In no time, you'll have your very own Elephant.ai roaming your digital savannah.</p>
      </article><article>
        <h3>Does it support languages other than English?</h3>
        <p>You bet! Elephant.ai is a worldly pachyderm that speaks 100+ languages. We're constantly expanding our linguistic repertoire to help your chatbot connect with users from different corners of the globe. Reach out to our team to learn more about our current language offerings and join our multilingual herd.</p>
      </article><article>
        <h3>Does it use ChatGPT or GPT-4?</h3>
        <p>Great question! Elephant.ai harnesses the power of the cutting-edge ChatGPT (gpt-3.5-turbo). By utilizing this advanced technology, Elephant.ai provides a seamless, engaging, and human-like experience for your website visitors. With Elephant.ai, you're getting the best of both worlds - a chatbot that's both powerful and relatable.</p>
      </article><article>
        <h3>Is Elephant.ai compatible with my website?</h3>
        <p>Absolutely! Elephant.ai is designed to work well with a wide range of websites, regardless of the platform or technology you're using. Our chatbot can easily be integrated into your site, providing a seamless and engaging experience for your visitors. If you have any specific compatibility concerns, our dedicated support team will be more than happy to assist you.</p>
      </article><article>
        <h3>How much does Elephant.ai cost?</h3>
        <p>We offer a range of pricing plans to accommodate the diverse needs of internet publishers and content website owners. From our Starter plan for solo publishers to our Enterprise plan for well-established publishers, there's an option to suit every budget. For more details on our pricing plans, please visit the "Pricing Plans: Pick Your Pachyderm" section of our website.</p>
      </article><article>
        <h3>Can I customize the appearance of the chatbot?</h3>
        <p>Absolutely! Just as elephants come in all shapes and sizes, so does Elephant.ai. You can customize the appearance of your chatbot to match your website's design and branding. From color schemes to chat window styles, we provide a variety of options to ensure your Elephant.ai chatbot is a perfect fit for your site.</p>
      </article>

    <!-- #faq --></section>

  </main>

  <footer>
    <h2 class="icon_logo">Elephant<span>.ai</span></h2>
    <ul class="onPageLinks">
      <li><a href="#features">Features</a></li>
      <li><a href="#testimonials">Tesimonials</a></li>
      <li><a href="#pricing">Pricing</a></li>
    </ul>
    <p>
      &copy; 2023 Elephant.ai All rights reserved.
    </p>
    <ul class="socialLinks">
      <li>
        <a href="#" class="icon_twitter">
          <span>Twitter</span>
        </a>
      </li><li>
        <a href="#" class="icon_github">
          <span>Github</span>
        </a>
      </li>
    </ul>
  </footer>

<!-- #top --></div>

<form class="modal" id="signIn" name="signin_form">
  <a href="#" class="modalClose" hidden></a>
  <div>
    <header>
      <a href="#" class="modalClose icon_logo" hidden>Elephant<span>.ai</span></a>
      <h2>Sign in to your account</h2>
      <p>
        Don't have an account? <a href="#register">Create a new account</a>
        <br>
        Forgot your Password? <a href="#forgotpwd">No Worries, Click Here</a>
      </p><br>
      <p class="error error--hidden"></p>
    </header>
    <fieldset>
      <label>
        E-Mail<br>
        <input name="email" type="email" required><br>
      </label><label>
        Password<br>
        <input name="password" type="password" required><br>
      </label>
    </fieldset>
    <footer>
      <button>Sign In</button>
    </footer>
  </div>
<!-- #signIn.modal --></form>

<form class="modal" id="register" name="signup_form">
  <a href="#" class="modalClose" hidden></a>
  <div>
    <header>
      <a href="#" class="modalClose icon_logo" hidden>Elephant<span>.ai</span></a>
      <h2>Create New Account</h2>
      <p>
        Already Registered? <a href="#signIn">Sign in to your account.</a>
      </p><br>
      <p class="error error--hidden"></p>
    </header>

    <fieldset>
      <label class="short">
        Name<br>
        <input name="name" type="text" required><br>
      </label><label>
        E-Mail<br>
        <input name="email" type="email" required><br>
      </label><label>
        Password<br>
        <input name="password" type="password" required minlength="8"><br>
      </label>
    </fieldset>
    
    <footer>
      <button>Join Now!</button>
    </footer>
  </div>
<!-- #register.modal --></form>

<form class="modal" id="forgotpwd" name="forgot_password_form">
  <a href="#" class="modalClose" hidden></a>
  <div>
    <header>
      <a href="#" class="modalClose icon_logo" hidden>Elephant<span>.ai</span></a>
      <h2>Forgot Password</h2>
      <p>
        Enter your Registered Email.<br>
        A Temporary Password will be sent to you.
      </p><br>
      <p class="error error--hidden"></p>
    </header>

    <fieldset>
      <label>
        E-Mail<br>
        <input name="email" type="email" required><br>
      </label>
    </fieldset>
    
    <footer>
      <button>Submit</button>
    </footer>
  </div>
<!-- #register.modal --></form>

{% endblock %}