<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="content">
    
        <h1>GPT-Chatbot</h1>
        <br>
        <form method="POST" action="/newbot">
            <label for="name">Chatbot Name : </label>
            <input type="text" name="name" required>
            <br>
            <label for="url">URL of Sitemap : </label>
            <input type="url" name="url" required>
            <br>
            <label for="domain">Domain name : </label>
            <input type="text" name="domain" required>
            <br>
            <button type="submit">Submit</button>
        </form>
        <br>
        <code>{{script_result}}</code>
        
    </div>
</body>
</html>